@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject BakalarPrace.Services.Alerter Alerter
@using static BakalarPrace.Extensions.NavSelector
@using static BakalarPrace.Extensions.LegacyCookieExtension
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakalarPrace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BakalarPrace</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "Admin")" asp-area="" asp-controller="Admin" asp-action="Index"> Rozcestník </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @Html.IsSelected(actions: "Imports", controllers: "Admin")" asp-area="" asp-controller="Admin" asp-action="Imports"> Importy </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        @{
            if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
            {
                var cookie = HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"].FromLegacyCookieString();

                <div aria-live="polite" aria-atomic="true" style="position: absolute; right: 100px;">
                    <div id="toast" class="toast hide" role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">@cookie["Title"]</strong>
                            <button type="button" class="btn-close js_removeAlert" data-bs-dismiss="toast" aria-label="Close"> <i class="material-icons" style="font-size: 15px"> close </i></button>
                        </div>
                        <div class="toast-body">
                            @cookie["Text"];
                        </div>
                    </div>
                </div>
            }
        }

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
       @{ 
            if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
            {
               <script>
                   $(document).ready(function () {
                       $('#toast').toast('show');
                   });
               </script>
            }
        }
       
    <script>
            $(document).ready(function () {

                //Inicializace Tooltip
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                });

                //Inicializace Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                });

                //Při otevření modal okna u odstranění recordu, doplň dynamicky ID do Modal okna
                $('.js_openModal').on('click', function () {
                    var id = $(this).attr('data-id');
                    $('.js_removeRecordButton').attr('href', '/Admin/RemoveRecord?RecordId=' + id);
                });

                //Odstraň cookie
                $('.js_removeAlert').on('click', function () {
                    //$.cookie("SystemResponse.Cookie", null, { path: '/' });
                    @{
                        HttpContextAccessor.HttpContext.Response.Cookies.Delete("SystemResponse.Cookie");
                    }
                    $('#toast').toast('dispose');
                });

                //Zablokuj tlačítko ve formulářu kvůli dlouhé době zpracování po odeslání
                $('.js_addImport').submit(function (e) {
                    var loc = $('.js_validationImportLoc').val()
                    var name = $('.js_validationImportName').val()
                    var file = $('.js_validationImportFile').val()

                    if (loc != "" && name != "" && file != "") {
                        $('.js_submitImport').attr("disabled", true);
                    }
                });

            });

    </script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
