@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject BakalarPrace.Services.Alerter Alerter
@using static BakalarPrace.Extensions.NavSelector
@using static BakalarPrace.Extensions.LegacyCookieExtension
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakalarPrace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>

    <script>
        //skryj všechny progress bary při načtení stránky
        $(document).ready(function () {
            $('.js_progress').hide();
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DCHV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-item-selected">
                            Administrační rozhraní
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item">
                            <a class="account-signout-button nav-link text-dark @Html.IsSelected(actions: "SignOut", controllers: "Account")" asp-area="" asp-controller="Account" asp-action="SignOut"> <i class="material-icons float-left text-danger icon_signOut"> power_settings_new </i> Odhlásit se </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>        
    </header>
    <div class="row">
        <div class="col-sm-2 sidenav-box">
            <ul class="nav flex-column">
                <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Admin")">
                    <a class="nav-link"
                       asp-area="" asp-controller="Admin" asp-action="Index">
                        <i class="material-icons sidenav-icon"> fact_check </i> Dashboard
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(actions: "Users", controllers: "Admin")">
                    <a class="nav-link"
                       asp-area="" asp-controller="Admin" asp-action="Users">
                        <i class="material-icons sidenav-icon"> supervised_user_circle </i> Uživatelé
                    </a>
                </li>
                <li class="nav-item @Html.IsSelected(actions: "Imports", controllers: "Admin")">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Imports">
                        <i class="material-icons sidenav-icon"> star </i> Záznamy
                    </a>
                </li>

            </ul>
        </div>
        <main role="main" class="col-8 contentPage">
            @RenderBody()
        </main>


        @{
        if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
        {
            var cookie = HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"].FromLegacyCookieString();

            <div aria-live="polite" aria-atomic="true">
                <div id="toast" class="toast hide notification" role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true">
                    <div class="toast-header bg-dark text-white">
                        <strong class="me-auto">@cookie["Title"]</strong>
                        <button type="button" class="btn-close js_removeAlert toast-close-button " data-bs-dismiss="toast" aria-label="Close"> <i class="material-icons" style="font-size: 15px"> close </i></button>
                    </div>
                    <div class="toast-body">
                        <p>@cookie["Text"]</p>
                        <span class="badge @cookie["Class"]"> @cookie["Status"] </span>
                    </div>
                </div>
            </div>
        }
        }

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @{
            if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
            {
            <script>
                $(document).ready(function () {
                    $('#toast').toast('show');
                });
            </script>
            }
        }

        <script>
            $(document).ready(function () {

                //Inicializace Tooltip
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip()
                });

                //Inicializace Modal
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                });

                //Při otevření modal okna u odstranění recordu, doplň dynamicky ID do Modal okna
                $('.js_openModal').on('click', function () {
                    var id = $(this).attr('data-id');
                    var href = $(this).attr('href');
                    $('.js_removeRecordButton').attr('href', href);
                });

                //Odstraň cookie
                $('.js_removeAlert').on('click', function () {
                    //$.cookie("SystemResponse.Cookie", null, { path: '/' });
                    @{
                        HttpContextAccessor.HttpContext.Response.Cookies.Delete("SystemResponse.Cookie");
                    }
                    $('#toast').toast('dispose');
                });

            });

        </script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
