@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject BakalarPrace.Services.Alerter Alerter
@using static BakalarPrace.Extensions.NavSelector
@using static BakalarPrace.Extensions.LegacyCookieExtension
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakalarPrace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/dataTables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/csvTable.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BakalarPrace</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "User")" asp-area="" asp-controller="User" asp-action="Index"> Rozcestník </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark @Html.IsSelected(actions: "Imports", controllers: "User")" asp-area="" asp-controller="User" asp-action="Imports"> Importy </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item">
                            <a class="account-signout-button nav-link text-dark @Html.IsSelected(actions: "SignOut", controllers: "Account")" asp-area="" asp-controller="Account" asp-action="SignOut"> <i class="material-icons float-left text-danger icon_signOut"> power_settings_new </i> Odhlásit se </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        @{ if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
                        {
                            var cookie = HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"].FromLegacyCookieString();

            <div aria-live="polite" aria-atomic="true" style="position: absolute; right: 100px;">
                <div id="toast" class="toast hide" role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">@cookie["Title"]</strong>
                        <button type="button" class="btn-close js_removeAlert" data-bs-dismiss="toast" aria-label="Close"> <i class="material-icons" style="font-size: 15px"> close </i></button>
                    </div>
                    <div class="toast-body">
                        @cookie["Text"];
                    </div>
                </div>
            </div> } }


        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @{ if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
            {
<script>
    $(document).ready(function () {
        $('#toast').toast('show');
    });
</script>
 } }
        <script>
        $(".js_markTableRow").on("click", function () {
            if ($(this).hasClass("marked")) {
                $(this).removeClass("marked");
            } else {
                $(this).addClass("marked");
            }
        });

                        //Odstraň cookie
        $('.js_removeAlert').on('click', function () {
            //$.cookie("SystemResponse.Cookie", null, { path: '/' });
            @{
                HttpContextAccessor.HttpContext.Response.Cookies.Delete("SystemResponse.Cookie");
            }
            $('#toast').toast('dispose');
        });
        </script>
        @RenderSection("Scripts", required: false)
</body>
</html>
