@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject BakalarPrace.Services.Alerter Alerter
@using static BakalarPrace.Extensions.NavSelector
@using static BakalarPrace.Extensions.LegacyCookieExtension
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BakalarPrace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DCHV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item text-light @Html.IsSelected(actions: "Index", controllers: "Home")">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item text-light @Html.IsSelected(actions: "Privacy", controllers: "Home")">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item text-light @Html.IsSelected(actions: "Login", controllers: "Account")">
                            @{
                                if (HttpContextAccessor.HttpContext.Request.Cookies["Identity.Cookie"] != null)
                                {
                                    <a class="nav-link" asp-controller="Account" asp-action="Login"> Přejit do aplikace </a>

                                }
                                else
                                {
                                    <a class="nav-link" asp-controller="Account" asp-action="Login"> Přihlásit se </a>
                                }
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @{
            if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
            {
                var cookie = HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"].FromLegacyCookieString();

                <div aria-live="polite" aria-atomic="true">
                    <div id="toast" class="toast hide notification" role="alert" aria-live="assertive" data-autohide="false" aria-atomic="true">
                        <div class="toast-header bg-dark text-white">
                            <strong class="me-auto">@cookie["Title"]</strong>
                            <button type="button" class="btn-close js_removeAlert toast-close-button " data-bs-dismiss="toast" aria-label="Close"> <i class="material-icons" style="font-size: 15px"> close </i></button>
                        </div>
                        <div class="toast-body">
                            <p>@cookie["Text"]</p>
                            <span class="badge @cookie["Class"]"> @cookie["Status"] </span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BakalarPrace - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @{
        if (HttpContextAccessor.HttpContext.Request.Cookies["SystemResponse.Cookie"] != null)
        {
            <script>
                $(document).ready(function () {
                    $('#toast').toast('show');
                });
            </script>
        }
    }
    <script>
         //Odstraň cookie
        $('.js_removeAlert').on('click', function () {
            //$.cookie("SystemResponse.Cookie", null, { path: '/' });
            @{
                HttpContextAccessor.HttpContext.Response.Cookies.Delete("SystemResponse.Cookie");
            }
            $('#toast').toast('dispose');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
